* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    height: 100vh;
}
.nav-cont {
    background-color: rgb(20, 17, 59);
}
.nav-links {
    display: flex;
}
.nav-links li {
    list-style: none;
    margin: 1em;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url("../assets/home.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url("../assets/home-1.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.home-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url("../assets/home-2.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.home h1,
.home-1 h1,
.home-2 h1 {
    color: #fff;
    font-weight: 700;
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
}
.home p,
.home-1 p,
.home-2 p    {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}